* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 1rem;
  min-height: 100vh;
}

.App {
  position: relative;
  background: black;
  overflow: hidden;
  margin: 0;
  height: 100vh;
  width: 100vw;
  border: 1px solid black;
}

.track {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(0, -50%);
  display: flex;
  gap: 4vmin;

  user-select: none;
}

img {
  width: 40vmin;
  height: 56vmin;
  object-fit: cover;
  object-position: center;
}
